/.vs/RTS/v15/.suo
/.vs/RTS/v15/Server/sqlite3/storage.ide
/.vs/RTS/v15/Server/sqlite3/storage.ide-shm
/.vs/RTS/v15/Server/sqlite3/storage.ide-wal
/.vs/RTS/v16/.suo
/.vs/RTS/v16/Server/sqlite3/db.lock
/.vs/RTS/v16/Server/sqlite3/storage.ide
/.vs/RTS/v16/Server/sqlite3/storage.ide-shm
/.vs/RTS/v16/Server/sqlite3/storage.ide-wal
/Library
/Temp
/.vs/RTS — копия/v16/.suo
/.vs/RTS — копия/v16/Server/sqlite3/db.lock
/.vs/RTS — копия/v16/Server/sqlite3/storage.ide
